<div class="card border-primary mb-3 text-center">
  <div class="card-header">Lista de Productos</div>
  <div class="card-body text-primary">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>
              <button class="btn btn-primary" (click)="toggleImage()">
                <i class="fa fa-eye"></i>
                {{showImage ? 'Ocultar': 'Mostrar'}} Imagenes
              </button>
            </th>
            <th>Producto</th>
            <th>Codigo</th>
            <th>Disponible</th>
            <th>Precio</th>
            <th>Rating</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tr *ngFor="let product of productService.products">
          <td>
            <img *ngIf="showImage" [src]="product.imageUrl | default:'../../assets/logo-acme.png'" title="Imagen del Producto">
          </td>
          <td>{{product.productName}}</td>
          <td>{{product.productCode}}</td>
          <td>{{today | date:'fullDate'}}</td>
          <td>{{product.price | currency:'USD':true:'2.0-3'}}</td>
          <td><app-star [rating]= "product.starRating"></app-star></td>
          <td>
            <button class="btn btn-success" (click)="viewProduct(product)" >
              <i class="fa fa-eye" ></i> Ver
            </button>
            &nbsp;
            <button class="btn btn-warning" (click)="updateProduct(product.productId, product)">
              <i class="fas fa-pencil-alt"></i> Editar
            </button>
            &nbsp;
            <button class="btn btn-danger" (click)="deleteProduct(product.productId)">
              <i class="fas fa-trash-alt"></i> Borrar
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>